extends ../layouts/simple.layout.pug
block variables
  -
    var pageTitle = "contacts"
block content
  h1 Мої контакти
  p 
    a(href="mailto:yurchenkor33@gmail.com") yurchenkor33@gmail.com
  p 
    a(href="tel:+380664498437") +380664498437
